## Sobre o projeto

- É um sistema de Cardapio digital web, onde empresas criam seus produtos e os clientes conseguem visualizar.
- Nome: Cardápio Digital
- Cor principal: #0E5CFE

---

## Stack

- Frontend:

- **TypeScript** (tipagem e lógica)
- **Next.js** (framework React - roteamento, SSR, otimizações)
- **Tailwind CSS** (estilização)
- **Shadcn/ui** (componentes prontos)
- **React Query/TanStack Query** (gerenciar cache e chamadas de API)
- **Zod** (validação de dados backend e frontend)

- Backend:

- **Node.js** (runtime JavaScript)
- **Express** (framework para criar API REST)

- Banco de dados:

- **Supabase** (PostgreSQL + Auth + Storage + Realtime)

---

## Estrutura de pastas e arquivos de modulos

- Sempre que for criar um modulo novo crie uma pasta para ele e dentro pastas de componentes e paginas, exemplo:

register/
├── components/
│   ├── RegisterForm.jsx
│   ├── StepIndicator.jsx
│   └── SuccessMessage.jsx
├── pages/
│   ├── index.jsx
│   └── confirm.jsx

---

## Nomenclatura 

- Sempre use ingles